* {
    box-sizing: border-box;
}
.add-doctor-form {
    background-color: #fff; /* Nền trắng */
    padding: 20px; /* Khoảng cách trong */
    border-radius: 8px; /* Bo góc */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
    max-width: 600px; /* Giới hạn chiều rộng form */
    margin: 20px auto; /* Căn giữa form */
    font-family: Arial, sans-serif;
}

.add-doctor-form h3 {
    text-align: center; /* Tiêu đề căn giữa */
    margin-bottom: 20px;
    color: #333; /* Màu tiêu đề */
}

.add-doctor-form body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;

}

.app {
    margin: 2rem;
}

/* Label */

.add-doctor-form form label {
    display: block;
    margin-bottom: .5rem;
    font-weight: bold;
    color: #555;
}


/* Input và Select */
.add-doctor-form input,
.add-doctor-form select {
    padding: .5rem;
    font-size: 16px;
    width: 100%;
    /*display: block;*/
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.add-doctor-form form input:focus, .add-doctor-form form select:focus {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
    outline: none;
}

input.error, select.error {
    border-color: red;
}

/* Inline selects (cùng dòng) */
.inline-fields-doctor-form {
    display: flex;
    gap: 5px; /* Khoảng cách giữa các trường */
    margin-bottom: 1rem;
}

.inline-fields-doctor-form select {
    flex: 1; /* Cân bằng chiều rộng */
}

/* Feedback */
.input-feedback {
    color: red;
    margin-top: .25rem;
}

/* Button */
.add-doctor-form form button {
    max-width: 150px;
    margin: 20px 0;
    padding: 12px 20px;
    border-style: none;
    border-radius: 5px;
    background-color: #08c;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
}

.add-doctor-form form button:disabled {
    opacity: .5;
    cursor: not-allowed !important;
}

.add-doctor-form form button + button {
    margin-left: .5rem;
}

.add-doctor-form form button.outline {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #555;
}
