.doctorInfo .content {
    padding: 20px;
    height: 100vh; /* Set the height of the content to the height of the screen */
    display: flex;
    flex-direction: column;
}

.doctorInfo table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    flex-grow: 1; /* Allow the table to grow and fill the remaining space */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.doctorInfo th, .doctorInfo td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.doctorInfo th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.doctorInfo tr:nth-child(even) {
    background-color: #f9f9f9;
}