.navbar {
    background-color: hsl(94, 55%, 56%);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;

}
.navbar .font {
    color: white;
}

.navbar .button {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    height: 100%;
}


.navbar .left {
    display: flex;
    align-items: center;
}

.navbar .right {
    display: flex;
    align-items: center;
}

.navbar .right .button {
    padding: 5px 20px 5px 20px;
}

.navbar .button:hover {
    background-color: hsl(94, 55%, 30%);
}