/* Định dạng cho toàn bộ trang */
.servicePrice body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Định dạng chung cho phần ServicePricePage */
  .ServicePricePage {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  /* Định dạng cho tiêu đề chính */
  .ServicePricePage h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Định dạng cho phần tiêu đề phụ */
  .ServicePricePage h2 {
    color: #666;
    margin-top: 20px;
  }
  
  /* Định dạng cho bảng */
  .servicePrice table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .servicePrice table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .servicePrice table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .servicePrice table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Định dạng cho các nút */
  .servicePrice .buttonInfo {
    background-color: #2e749a; /* Màu xanh lá */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .servicePrice .buttonInfo:hover {
    background-color: #16628a;
  }
  
  /* Nút quay lại */
  .servicePrice .back-button {
    margin-bottom: 20px;
    display: inline-block;
  }
