.appointment .body .content .top {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 0px 20px;
}

.appointment .body .content .top .search{
  padding-right: 10px;
}

.appointment .body .content .top .searchInput{
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: #78b841;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline;
}

.appointment .body .content .top .searchInput:hover {
  background-color: #5a9e3a;
}

.appointment .body .content .top .searchInput:active {
  background-color: #86cc51;
}

.appointment .body .content .table {
  padding: 0px 40px 0px 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.appointment .body .content .table .element {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  display: grid;
  overflow: hidden;
  

}

.appointment .body .content .table .element:hover {
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* đổ bóng */

}


/* .appointment .body .content .table .element:hover .header{
  background-color: #ebebeb;

} */

.appointment .body .content .table .element .header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment .body .content .table .element .header .image {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.appointment .body .table .element .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.appointment .body .table .element .body .department {
  font-size: 14px;
  padding: 2px;
  padding-top: 5px;
}

.appointment .body .table .element .body .type {
  font-size: 14px;
}

.appointment .body .table .element .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-size: 1rem;
  color: #fff;
  background-color: #78b841;
}

.appointment .content .bottom {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  bottom: 1%;
  right: 2%;
}

.appointment .content .bottom .pages {
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  margin: 0px 5px 0px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.appointment .content .bottom .nextPage {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #78b841;
}

.appointment .content .bottom .nextPage:hover {
  background-color: #5a9e3a;
}

.appointment .content .bottom .nextPage:active {
  background-color: #86cc51;
}