.appointment .body .content .top {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 5px;
}

.appointment .body .content .top .search{
  padding-right: 10px;
}

.appointment .body .content .top .search .searchInput{
  padding: 5px;

}

.appointment .body .content .table {
  padding: 10px 40px 10px 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.appointment .body .content .table .element {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  display: grid;
}

.appointment .body .content .table .element .header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment .body .content .table .element .header .image {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.appointment .body .table .element .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.appointment .body .table .element .body .department {
  font-size: 14px;
  padding: 2px;
  padding-top: 5px;
}

.appointment .body .table .element .body .type {
  font-size: 14px;
}

.appointment .body .table .element .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment .content .bottom {
  display: flex;
  flex-direction: column;
  align-items: end;
  
}


