
.doctorInfo .body .contentInfo {
  padding: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr;
  grid-column: 2 / span 5;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.doctorInfo .body .contentInfo .headInfo {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  width: 100%;

}



.doctorInfo .transition:hover {
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.doctorInfo .buttonSel {
  background-color: #78b841;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.doctorInfo .buttonSel:hover {
  background-color: #5a9e3a;
}

.doctorInfo .buttonSel:active {
  background-color: #86cc51;
}

.doctorInfo .body .contentInfo .headInfo .imageDoctor {
  width: 200px;
  height: 200px;
  border-radius: 100%;

  border: 1px solid #ccc;
}

.doctorInfo .body .contentInfo .headInfo .infoDetail {
  width: 90%;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

.doctorInfo .body .contentInfo .headInfo .infoDetail .field {
  display:flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.doctorInfo .body .contentInfo .headInfo .infoDetail .importantInfo {
  display: flex;
  justify-content: end;
}

.doctorInfo .body .contentInfo .headInfo .changeDoctor {
  padding: 20px;
}

.doctorInfo .body .contentInfo .headInfo .changeDoctor .changeButton {
  padding: 15px 30px 15px 30px;
}


.doctorInfo .body .contentInfo .work {
  padding: 10px;
  grid-column: 1;
  grid-row: 1;
}

.doctorInfo .body .contentInfo .work .table {
  height: 100%;
}

.doctorInfo .body .contentInfo .work .table .title {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #86cc51;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #fff;
}

.doctorInfo .body .contentInfo .work .table .date {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
}

.doctorInfo .body .contentInfo .work .table .date .next {
  padding: 10px;
  border: none;
  border-radius: 10px;
  display: flex;
  background-color: #42a4de;
  color: #fff;

}

.doctorInfo .body .contentInfo .work .table .date .next:hover {
  background-color: #3687b6;
}

.doctorInfo .body .contentInfo .work .table .date .next:active {
  background-color: #4bbdff;
}


.doctorInfo .body .contentInfo .work .table .date .cell {
  padding: 10px 10px 10px 10px;
  font-size: 13px;
  width: 100%;
  margin: 0px 5px 0px 5px;
}


.doctorInfo .body .contentInfo .work .table .tableTime {
  border: 1px solid #ccc;
  overflow:scroll;
  height: 30vh;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
}

.doctorInfo .body .contentInfo .work .table .tableTime .time {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}

.doctorInfo .body .contentInfo .work .table .tableTime .time .cell {
  padding: 10px 15px 10px 15px;
  margin: 3px 5px 3px 5px;
}

.doctorInfo .body .contentInfo .work .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
}

.doctorInfo .body .contentInfo .work .info .title {
  color: #fff;
  background-color: #86cc51;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  
}

.doctorInfo .body .contentInfo .work .info .border {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 5px;
}


.doctorInfo .body .contentInfo .work .info .timeInfo .detailTime{
  display: grid;
  grid-template-columns: repeat(2, 1fr) 3fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;

}

.doctorInfo .body .contentInfo .work .info .timeInfo .detailTime .changeTime {
  grid-column: 3;
  grid-row: 1 /span 2;
  margin: 0px 10px 0px 10px;
}

.doctorInfo .body .contentInfo .work .info .patientInfo .detailInfo{
  padding: 20px;
  display: grid;
  width: 60%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.doctorInfo .body .contentInfo .work .info .field {
  display: flex;
  padding: 5px 0px 5px 30px;
}

.doctorInfo .body .contentInfo .work .info .infoValue {
  font-weight: normal;
  padding: 5px 0px 5px 0px;

}

.doctorInfo .body .contentInfo .work .info .optionalInfo {
  display: flex;
  flex-direction: column;
}

.doctorInfo .body .contentInfo .work .info .optionalInfo .input {
  margin: 20px;
  height: 100px;
  font-size: 16px;
}

.doctorInfo .body .contentInfo .work .footer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.doctorInfo .body .contentInfo .work .footer .submit {
  padding: 15px 20px 15px 20px;

}