.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}
.modal.open .modal-container {
    transform: translateX(0);
}

.close-modal-hist {
    height: 100%;
    width: 20%;
}

.modal-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 636px;
    width: 80%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    border: 2px solid gray;
}

.modal-body {
    border-top: 3px solid rgba(23, 21, 21, 0.4);
    box-shadow: 0 15px -15px -5px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    padding-bottom: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll ;
}

.caption-info-hist {
    border-bottom: 4px solid #dddddd;
    background-color: #87cd51;
    justify-content: center;
    align-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    padding-top: 10px;
    align-content: center;
}


/*Begin demo*/
.accordion-content {
    width: 70%;
    min-height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(211, 209, 209);
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

.wrapper:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.wrapper {
    border-radius: 8px;
    background-color: #82d244;
}

.accordion-content header {
    display: flex;
    min-height: 60px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    transition: all 0.1s linear;
}


.accordion-content.open-hist {
    overflow: visible;
} 

.accordion-content header .title {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.accordion-content .content-table-hist {
    display: none;
    transition: all 0.1s ease-in-out; 
}

.content-table-hist {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
    overflow: hidden;
    transition: all 0.1s ease;
    margin-bottom: 10px;
    table-layout: fixed;
}

.doctor-info-hist {
    align-content:first baseline;
    border-right: 2px solid gray;
    font-size: 16px;
    font-weight: bold;
}

.header-service-hist {
    font-size: large;

}

.content-table-hist th,
.content-table-hist td {

    word-wrap: break-word; 
    white-space: normal; 
    
    padding: 12px 15px;
}



.content-table-hist tbody tr {
    border-bottom: 1px solid #dddddd;
}


.title-hist {
    width: 20% !important;
    border-right: 2px solid gray;
    font-size: 16px;
    font-weight: 600;
}

.prop-hist {
    width: 80%;
    word-wrap: break-word;
    white-space: normal;
    vertical-align: top;
    color: rgb(76, 74, 74);
}

/*form doctor info*/
.form-doctor-info {
    width: 70%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.fieldset-info {
    border-radius: 10px;
    border: 3px solid gray;
}

.legend-info {
    font-size: large;
    font-weight: 500;
    margin-left: 20px;
}

.template-label-info {
    padding-top: 3px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid gray;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

.label-info {
    width: 20%;
    height: 100%;
    border-right: 2px solid gray;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 600;
}

.info-field {
    display: flex;
    align-content: center;
    margin-left: 30px;
    height: 100%;
    width: 70%;
}

.medicine-title {
    border-right: 2px solid gray;
}