.Leftbar {
    background-color: hsl(205, 71%, 15%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 256px;
    border: 1px solid #ccc;

}

.Leftbar .font {
    color: white;
}
.Leftbar .button {
    padding: 20px 30px 20px 10px;
    border-bottom: 1px solid #ccc;
    border: 1px solid #ccc;
    justify-content: center;
    gap: 20px;
}

.Leftbar .button:hover {
    background-color: rgba(65, 138, 181, 0.4);
}

.leftbar .text {
    margin-left: 20px;
}